<div class="form-container">
  <div class="form-div">
    <h2 class="form-heading">Get in Touch Today to Discuss Your Portfolio</h2>
    <form>
      <div class="form-row">
        <input class="inputx" name="name" id="name" type="text" placeholder="  Name*" />
      </div>
      <div class="form-row">
        <input class="inputx" name="email" id="email" type="email" placeholder="  Email*" style="width:47%;margin-right:49px" />
        <input class="inputx" name="phone" id="phone" type="tel" placeholder="  Phone Number*"  style="width:47%" />
      </div>
      <div class="form-row">
        <input class="inputx" name="hear" id="hear" type="text" placeholder="  Where did you hear about us?" />
      </div>
      <div class="form-row">
        <textarea name="message" id="message" placeholder="  Your Message"></textarea>
      </div>
      <div class="form-row">
        <input id="agree" type="checkbox" value="">
        <label for="agree">By providing your details you agree to being contacted under the terms of our privacy policy.</label>
      </div>
      <div class="form-row">
        <button name="submitbutton" id="submitbutton" type="submit">Submit Enquiry</button>
      </div>
    </form>
  </div>
</div>